@font-face {
  font-family: "Moon";
  src: url("../../fonts/Moon20-Regular.woff2") format("woff2"),
       url("../../fonts/Moon20-Regular.woff") format("woff");
}
@font-face {
  font-family: "Azonix";
  src: url("../../fonts/Azonix.woff2") format("woff2"),
       url("../../fonts/Azonix.woff") format("woff");
}
@font-face {
  font-family: "Elianto";
  src: url("../../fonts/Elianto-Regular.woff2") format("woff2"),
       url("../../fonts/Elianto-Regular.woff") format("woff");
}
@font-face {
  font-family: "Nano";
  src: url("../../fonts/NanoTechRegular.woff2") format("woff2"),
       url("../../fonts/NanoTechRegular.woff") format("woff");
}