// $warning:#ffdd57;
// $warning-dark:#b99f1c;
// $warning-light:#FFFDF5;
// $white:#fff;
// $primary:#15038C;
// $secondary:#DF0045;
 $dark:#253840;
 $success:#23d160;
// $success-dark:#20b955;
// $success-light:#F6FEF9;
// $default:#1a1a1a;
$link:#3273dc;
 $info:#209cee;
// $info-dark:#2356a9;
// $info-light:#F6FBFE;
// $fairuz:#01597C;
 $danger:#ff3860;
$grey:rgba(34,36,38,.15);
 $danger-dark:#9a0036;
 $danger-light:#FFF5F7;


$main-bg:#1a1a1a;
$primary: #F5593D;
$brown:#403D39;
$main:#151F20;
//$primary:#0FA958;
$secondary:#0f3057;
$yellow:#FFC700;
$white:#fff;
$cyan:#defcf9;

$alata: 'Alata', sans-serif;
$open: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;
$faster: 'Faster One', cursive;
$staa: 'Staatliches', cursive;
$monton: 'Monoton', cursive;
$share: 'Share Tech Mono', monospace;


